leakgoose
leakgoose.exe
leakgoose-dev.exe
*.exe~
/dist/
web/dist/*
!web/dist/index.html
web/node_modules/
*.tar.gz
*.zip
center.db
center.db-*
center-e2e.db*
.center.log
.e2e-*
.tk.json
.r.json
.c.json
.token.txt
center-dev.db*
.center-dev.log
